@import "../src/assets/fonts/fonts.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gotham SSm", "Segoe UI", "Roboto", "Helvetica Neue", Arial,
    sans-serif;
}

html,
body,
embed .chapter1 {
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  display: none;
}

.chapter2 .container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  min-width: 60vw;
}

.chapter2 .container .img-container {
  display: flex;
  /*?  height in chq unit for translate purposes - {A}  */
  position: relative;
  font-weight: 200;
  background: url("https://digitalassets.tesla.com/tesla-contents/image/upload/h_1800,w_2880,c_fit,f_auto,q_auto:best/model-3-hero-a-desktop")
    no-repeat;
  background-size: contain;
  background-position: center center;
  height: 100vh;
  width: 100vw;
  min-width: 30vw;
}

.box {
  display: flex;
  position: absolute;
}

.box1 {
  flex-basis: 0;
  position: absolute;
  height: 15%;
  width: 100%;
  top: 0;
  left: 0;
  transform: translate(49%, 18vh);
}

.box2 {
  position: absolute;
  height: 25%;
  width: 100%;
  min-width: 100%;
  top: 0;
  left: 0;
  transform: translate(30.8%, 28vh);
}

.box3 {
  position: absolute;

  height: 16%;
  width: 100%;
  top: 0;
  left: 0;
  transform: translate(53.5%, 58vh);
}

.dot {
  position: absolute;
  width: 11px;
  height: 11px;
  background-color: white;
  border: 2.5px solid black;
  border-radius: 50%;
  left: -7px;
}

.box1 .dot,
.box2 .dot {
  bottom: -5px;
}

.box3 .dot {
  top: -1px;
}

.border-anim12 {
  position: absolute;
  height: 100%;
  width: 3.23px;
  top: 0;
  left: -3px;
  background-color: #000;
  animation: expand-line 2s ease-in-out infinite;
}

@keyframes expand-line {
  0% {
    top: 100%;
    height: 0%;
  }
  100% {
    top: 0;
    height: 100%;
  }
}

.border-anim3 {
  position: absolute;
  height: 100%;
  width: 3.23px;
  top: 0;
  left: -3px;
  background-color: #000;
  animation: expand-line3 2s ease-in-out infinite;
}

@keyframes expand-line3 {
  0% {
    top: 0;
    height: 0%;
  }
  100% {
    top: 100;
    height: 100%;
  }
}

.feature12 {
  position: absolute;
  width: fit-content;
  font-size: 18px;
  left: 15px;
  top: 10px;
  height: 100%;
  animation: features12 2s ease-in-out infinite;
}
@keyframes features12 {
  0% {
    opacity: 0;
    top: 100%;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    top: -10px;
  }
}

.feature3 {
  position: absolute;
  width: fit-content;
  font-size: 18px;
  left: 15px;
  top: 10em;
  height: 100%;
  animation: features3 2s infinite;
}

@keyframes features3 {
  0% {
    opacity: 0;
    top: 0;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    top: 100%;
  }
}

.box1 .feature,
.box2 .feature {
  top: -15.5px;
}

.box3 .feature {
  bottom: -35px;
}

.chapter2 .info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  width: 1116px;
  min-width: 80%;
  margin: 50px;
  height: 400px;
  gap: 1em;
}

.chapter2 .info .awards {
  display: flex;
  justify-content: flex-start;
  font-size: 14px;
}
.chapter2 .info h1 {
  font-weight: 500;
  padding-bottom: 16px;
}

.chapter2 .info .p-desc {
  padding-top: 14px;
}
.chapter2 .info .p-head {
  padding: 15px 0 6px;
  font-weight: bold;
}

.chapter2 .info .category p {
  width: 579px;
}

.info a:link,
a:visited {
  color: #000;
}

/* @media only screen and (max-width: 667px) {
  
  .chapter2 .container {
    min-width: 470px;
    width: 100cqw;
  }

  .chapter2 .container .img-container {
    display: flex;
    position: relative;
    font-weight: 200;
    background: url("https://digitalassets.tesla.com/tesla-contents/image/upload/h_1800,w_2880,c_fit,f_auto,q_auto:best/model-3-hero-a-desktop")
      no-repeat;
    background-size: cover;
    background-position: -200px -250px;    
    width: 100vw;
  }

  .box1 {
    position: absolute;
    width: 30px;
    height: 11%;
    min-width: 60%;
    top: 0;
    left: 0;
    transform: translate(80.6cqw, 28cqh);
  }

  .box2 {
    position: absolute;
    width: 30px;
    height: 23%;
    top: 0;
    left: 0;
    transform: translate(50.5cqw, 33cqh);
  }

  .box3 {
    width: 30px;
    height: 12%;
    top: 0;
    left: 0;
    transform: translate(80cqw, 70cqh);
  } */

  @media only screen and (max-width: 667px) {
  
    
    /* .chapter2 .container {
      width: 667px;
      max-width: 100vw;
    } */
    .chapter2 .container {
      width: 100%;
      max-width: 667px;
    }
  
    .chapter2 .container .img-container {
      display: flex;
      position: relative;
      font-weight: 200;
      background: url("https://digitalassets.tesla.com/tesla-contents/image/upload/h_1800,w_2880,c_fit,f_auto,q_auto:best/model-3-hero-a-desktop")
        no-repeat;
      background-size: 190%;
      background-position: center left;    
      /* background-position: -200px -250px;     */
      max-width: 100vw;
    }
    
  .feat1-s {
    position: absolute;
    white-space: nowrap;
    font-size: .7rem;
    left: -100px;
  }

  .feat2-s {
    position: absolute;
    white-space: nowrap;
    font-size: .7rem;
    left: -120px;
  }

  .feat3-s {
    position: absolute;
    white-space: nowrap;
    font-size: .7rem;
    left: -120px;
  }

  .dot {
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: white;
    border: 1px solid black;
    border-radius: 50%;
    left: -5px;
  }

  .box1 {
    transform: translate(81%, 80%);
  }

  .box2 {
    transform: translate(59%, 123%);
  }

  .box3 {
    transform: translate(88%, 500%);
  }

  .box1 .dot,
  .box2 .dot {
    bottom: -5px;
  }

  .box3 .dot {
    top: -1px;
  }

  .border-anim12,
  .border-anim3 {
    width: 1.2px;
  }

  .chapter2 .info {
    display: block;
    max-width: 575px;
    padding: 0 10px 0;  
    margin: 0;   
  }
  
  .chapter2 .info h1 {
    display: block;
    max-width: 580px;
    margin: 20px 0; 
  }
  
  .chapter2 .info .awards {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    gap: 0px;
  }
  
  .chapter2 .info .p-desc {
    font-size: 0.85em; 
    white-space:break-spaces; 
   
  }
  
  
  .chapter2 .info .category p {
    font-size: 0.85em;
    max-width: 470px;
    margin-bottom: 10px; 
      white-space:break-spaces; 
  }
  
}

/*  ===================  */

@media screen and (min-width: 668px) and (max-width: 1200px) {
  .chapter2 .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 934px;
  }

  .img-container {
    display: flex;
    justify-content: center;
    position: relative;
    font-weight: 200;
    background: url("https://digitalassets.tesla.com/tesla-contents/image/upload/h_1800,w_2880,c_fit,f_auto,q_auto:best/model-3-hero-a-desktop")
      no-repeat center center;
    background-size: cover;
    /*?  height in chq unit for translate purposes - {A}  */
    min-height: 50cqh;
    width: 70vw;
    max-width: 100%;
    height: fit-content;
  }

  .box {
    position: relative;
  }

  .box1 {
    position: absolute;
    height: 21%;
    width: 100rem;
    min-width: 60%;
    /*?  translate with cqw-cqh units {B}  */
    top: 0;
    left: 0;
    /*?  translate with cqw-cqh units {C}  */
    transform: translate(49.6cqw, 18cqh);
  }

  .box2 {
    position: absolute;
    height: 30%;
    width: 100rem;
    top: 0;
    left: 0;

    transform: translate(30.5cqw, 21cqh);
  }

  .box3 {
    height: 17%;
    width: 100rem;
    top: 0;
    left: 0;
    transform: translate(53.4cqw, 55.5cqh);
  }

  .feature {
    position: absolute;
    white-space: nowrap;
    font-size: 1em;
    left: 0px;
  }

  .chapter2 .info {
    display: flex;
    flex-direction: column;
    max-width: fit-content;
    padding: 0 180px;
  }

  .chapter2 .info h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: min-content;
    padding-bottom: 1em;
  }

  .chapter2 .info .p-desc {
    margin-bottom: 12px;
  }

  .chapter2 .info .awards {
    justify-content: space-between;
  }
  .chapter2 .info .category p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    max-width: 345px;
    height: min-content;
  }
}
