@import "../src/assets/fonts/fonts.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
embed .chapter1 {
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  display: none;
}

a:link,
a:visited {
  color: #000;
}

body {
  margin: 0;
}

.chapter3 .container {
  width: 100%;
  height: 893px;
  padding-top: 74px;
  color: #000;
  font-family: "Gotham SSm", "Segoe UI", "Roboto", "Helvetica Neue", Arial,
    sans-serif;
}

.chapter3 .img-container {
  display: flex;
  margin: 20px 0;
  height: 606px;
  background: url("https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto:best/Model-3-Range-Hero-Desktop-NA")
  no-repeat center center;
  background-size: cover;
}

.chapter3 aside {
  display: flex;
  flex-shrink: 0;
  width: 198.5px;
  height: 100%;
  padding-left: 64px;
}

aside ol {
  display: flex;
  flex-direction: column;
  list-style: none;
  justify-content: space-evenly;
  align-items: flex-start;
}

aside ol li {
  max-height: min-content;
}

aside ol li h3 {
  font-size: 24px;
  font-weight: 500;
  max-height: min-content;
}

aside .li-container .title-l {
  display: flex;
  font-size: 24px;
  height: 50px;
  max-height: min-content;
}

aside .li-container .desc {
  font-size: 12px;
  white-space: nowrap;
  font-weight: bolder;
  max-height: min-content;
}

.info {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 196px;
  padding: 24px 0 40px;
}

.info .left {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 432px;
  height: 132px;
  padding: 16px;
}

.info .right {
  display: flex;
  width: 660px;
  height: 132px;
  padding: 16px;
}

.info .left h2 {
  width: 100%;
  height: 65px;
  font-size: 1.7em;
  padding-bottom: 16px;
  font-weight: 500;
}

.info .left .btn-container {
  width: 100%;
  height: 65px;
}

.chapter3 .info .left button,
.chapter3 .info .right button {
  width: 204px;
  max-height: 40px;
  border-radius: 5px;
  font-weight: bold;
  padding: 5px 27px;
}

.chapter3 .info .btn-style3 {
  background: #fff;
  border: solid 3.5px #000;
  color: #000;
  font-size: 14px;
  outline: none;
}

.info .left .btn-style3:hover {
  background: #000;
  border: none;
  color: #fff;
}

.info .btn-style3:active {
  outline: solid 2px #fff;
  outline-offset: -5px;
}

.visible-mq {
    display: none;
}


/*** // SMARTPHONE // ***/

@media only screen and (max-width: 599px) {
    .chapter3 .img-container {
        display: flex;
        margin: 20px 0;
        height: 550px;
        width: 100vw;
        background: url("https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto:best/Model-3-Range-Hero-Desktop-NA")
        no-repeat bottom top;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-content:center;
        /* flex-wrap: wrap-reverse; */
      }

      .chapter3 aside {        
        height:200px;        
        width: 100%;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        background-image: linear-gradient(rgba(255, 255, 255, 0), rgb(255, 255, 255)) ;
     }

     .info {    
        padding: 3em 2em;
      }
      
      aside ol {
        background: transparent;
        max-height: fit-content;
        width: 400px;
        display: flex;
        flex-direction: row;
        align-self: center;        
        list-style: none;
        justify-content: center;
        align-items: center;   
        gap: 2em;   
      }

      aside ol li,
      aside ol li h3,
      aside ol li p {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: min-content;
        padding: 3px;
    }

    aside ol li p {
    font-weight: 400;  
    font-size: .85em;
    }

    .chapter3 .info {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: space-between;
    }


    .chapter3 .info .left {
        max-height: 3em;
    }
    
    .chapter3 .right p {
       padding: 0;
     max-height: min-content;
     font-size: .85em;
    }

    .chapter3 .right{
        display: block;
        width: 100%;
        height: 400px;
        margin: 0 auto;
    }
    .chapter3 .info .right p {
        display: block;        
        width: 100%;
    }

    .chapter3 .right .btn-container button{
        display: block;
        width: 100%;
    }
    
    .hidden-mq {
        display: none;
    }

    .visible-mq {
        display:flex;
    }

    .chapter3 .right .btn-container button{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        margin-top: 20px;
        padding: 1em;
        color: #444;
    }
} 



@media screen and (min-width: 600px) and (max-width: 900px) {

    .chapter3 .img-container {
        display: flex;
        margin: 20px 0;
        height: 550px;
        width: 100%;
        background: url("https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto:best/Model-3-Range-Hero-Desktop-NA")
        no-repeat bottom top;
        background-size: 218%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-content:center;
        flex-wrap: wrap-reverse;
      }
      
      .chapter3 aside {        
        height:200px;        
        width: 100%;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        background-image: linear-gradient(rgba(255, 255, 255, 0), rgb(255, 255, 255)) ;
     }
     
     .info {    
        padding: 3em 2em;
      }
      
      aside ol {
        background: transparent;
        max-height: fit-content;
        width: 400px;
        display: flex;
        flex-direction: row;
        align-self: center;        
        list-style: none;
        justify-content: center;
        align-items: center;   
        gap: 2em;   
      }

      aside ol li,
      aside ol li h3,
      aside ol li p {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: min-content;
        padding: 3px;
    }

    aside ol li p {
    font-weight: 400;  
    font-size: .85em;
    }

    .chapter3 .info {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: space-between;
    }


    .chapter3 .info .left {
        max-height: 3em;
    }
    
    .chapter3 .right p {
       padding: 0;
     max-height: min-content;
     font-size: .85em;
    }

    .chapter3 .right{
        display: block;
        width: 100%;
        height: 400px;
        margin: 0 auto;
    }

    .chapter3 .info .right p {
        display: block;        
        width: 100%;
    }

    .chapter3 .right .btn-container button{
        display: block;
        width: 100%;
    }
    
    .hidden-mq {
        display: none;
    }

    .visible-mq {
        display:flex;
    }

    .chapter3 .right .btn-container button{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        margin-top: 20px;
        padding: 1em;
        color: #444;
    }
    } 
  

