@import '../src/assets/fonts/fonts.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gotham SSm", "Segoe UI", 'Roboto', "Helvetica Neue", Arial, sans-serif;
} 

html, body {
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    display: none;
}

.chapter2 {
        height: 100%;
}

.chapter2 .container {
    position: relative;
    display: flex;
    flex-direction: column; 
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.img-container {    
    position: relative;
    font-weight: 200;            
    background: url('https://digitalassets.tesla.com/tesla-contents/image/upload/h_1800,w_2880,c_fit,f_auto,q_auto:best/model-3-hero-a-desktop') no-repeat center center;
    background-size: cover;
    /*?  height in chq unit for translate purposes - {A}  */ 
    height: 100cqh;  
    min-height:50cqh;  
    width: 100vw;
}

.box {
    position: absolute;
    /* overflow: visible; */
    /* top: 0;
    left: 0;        */
    background-color: rgba(255, 0, 0, 0.155);
}

.box1 {
    position: absolute;
    height: 21%;
    width: 100rem;

    /*?  translate with cqw-cqh units {B}  */     
    top: 0;
    left: 0;
    /*?  translate with cqw-cqh units {C}  */
    transform: translate(50.6cqw, 6.5cqh);
}


.box2 {
    position: absolute;
    height: 30%;
    width: 100rem;
    top: 0;
    left: 0;

    transform: translate(30.5cqw, 21cqh);
}

.box3 {    
    height: 23%;
    width: 100rem;    
    top: 0;
    left: 0;
    transform: translate(53.4cqw, 60.5cqh);
}



.dot {
    position: absolute;
    width: 11px;
    height: 11px;
    background-color: white;
    border: 2.5px solid black;
    border-radius: 50%;
    left: -7px;
  }
  
.box1 .dot , .box2 .dot {
    bottom: -5px;
  }

.box3 .dot {
    top: -1px;
  }

.border-anim {
    position: absolute;
    height: 100%;
    width: 3.23px;
    top: 0;
    left: -3px;
    background-color: #000;
    animation: expand-line 3s ease-in-out forwards;
  }


  @keyframes expand-line {
    0% {
      height: 0;
    }
    100% {
      height: 100%;
    }
  }


.info {
    margin: 0 auto;
    width: 90%;
    max-width: 1116px;
    height: 400px; 
    gap: 1em;
}

.feature {
    position: absolute;
    width: fit-content;  
    font-size: 18px;
    left: 15px; 
}

.box1 .feature, .box2 .feature {
    top: -15.5px;
  }

.box3 .feature {
    bottom: -35px;
  }
  
  .chapter2 .info {
    display: flex;
    flex-direction: column;     
    justify-content:flex-start;
    align-content: center;
    width: 1116px;    
    height: 400px;  
    gap: 1em;
}

.chapter2 .info .awards {
    display: flex;
    justify-content: flex-start;
    font-size: 14px;    
}
.chapter2 .info h1 {
    font-weight: 500;
    padding-bottom: 16px;
}

.chapter2 .info .p-desc {
    padding-top: 14px;
}
.chapter2 .info .p-head {
    padding: 15px 0 6px;
    font-weight: bold;
}
    
.chapter2 .info .category p {
    width: 579px;    
}

.info a:link, a:visited {    
    color:#000;
}

@media only screen and (max-width: 667px) {
    .img-container  {
        background-image: url('https://digitalassets.tesla.com/tesla-contents/image/upload/h_950,w_800,c_fit,f_auto,q_auto:best/model-3-hero-a-mobile');
        background-position: cover;
        height: 100vw;
        width: 100%;
        max-width: 100%;
        min-width: 100%;
        
    } 

    .feature {
        position: absolute;
        white-space: nowrap;  
        font-size: 11px;
        left: 0px; 
    }

.dot {
    position: absolute;
    width: 11px;
    height: 11px;
    background-color: white;
    border: 2.5px solid black;
    border-radius: 50%;
    left: -7px;
  }
  
.box1 .dot , .box2 .dot {
    bottom: -5px;
  }

.box3 .dot {
    top: -1px;
  }

.border-anim {
    position: absolute;
    height: 100%;
    width: 3.23px;
    top: 0;
    left: -3px;
    background-color: #000;
    animation: expand-line 3s ease-in-out;
  }
}