@font-face{font-family:Gotham SSm;font-weight:700;font-display:swap;font-style:normal;src:url(https://cdn-design.tesla.com/tds-fonts/x/woff2/GothamSSm-Bold_Web.woff2) format("woff2")}@font-face{font-family:Gotham SSm;font-weight:500;font-display:swap;font-style:normal;src:url(https://cdn-design.tesla.com/tds-fonts/x/woff2/GothamSSm-Medium_Web.woff2) format("woff2")}@font-face{font-family:Gotham SSm;font-weight:400;font-display:swap;font-style:normal;src:url(https://cdn-design.tesla.com/tds-fonts/x/woff2/GothamSSm-Book_Web.woff2) format("woff2")}@font-face{font-family:Gotham SSm;font-weight:300;font-display:swap;font-style:normal;src:url(https://cdn-design.tesla.com/tds-fonts/x/woff2/GothamSSm-Light_Web.woff2) format("woff2")}@font-face{font-family:Gotham SSm;font-weight:200;font-display:swap;font-style:normal;src:url(https://cdn-design.tesla.com/tds-fonts/x/woff2/GothamSSm-XLight_Web.woff2)}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gotham SSm", "Segoe UI", 'Roboto', "Helvetica Neue", Arial, sans-serif;
}



.container {
    display: flex;
    flex-direction: column; 
    justify-content: flex-start;
    align-items: start;
    width: 100%;    
    gap: 1em;
}

.img-container {
    position: relative;
    font-weight: 200px;
    margin: 20px auto;
    width: 90%;
    max-width: 1200px;
    height: 60vw;
    max-height: 800px;
    gap: 1em;
    background-image: url('https://digitalassets.tesla.com/tesla-contents/image/upload/h_1800,w_2880,c_fit,f_auto,q_auto:best/model-3-hero-a-desktop');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.box {
    position: absolute;
    right: 0;
    top: 0;       
}

#box1 {
    height: 135px;
    width: 590px;
    top: 13%;
    right: 0;
}

#box2 {
    height: 220px;
    width: 850px;
    top: 23%;
}

#box3 {
    height: 180px;
    width: 560px;
    top: 59%;
    right: 0;    
}

.dot {
    position: absolute;
    width: 11px;
    height: 11px;
    background-color: white;
    border: 2.5px solid black;
    border-radius: 50%;
    left: -7px;
  }
  
#box1 .dot , #box2 .dot {
    bottom: -5px;
  }

#box3 .dot {
    top: -1px;
  }

.border-anim {
    position: absolute;
    height: 100%;
    width: 3.23px;
    top: 0;
    left: -3px;
    background-color: #000;
    animation: expand-line 3s ease-in-out;
  }


  @keyframes expand-line {
    0% {
      height: 0;
    }
    100% {
      height: 100%;
    }
  }


.info {
    margin: 0 auto;
    width: 90%;
    max-width: 1116px;
    height: 400px; 
    gap: 1em;
}

.info a:link, a:visited {    
    color:#000;
}

.feature {
    position: absolute;
    width: fit-content;  
    font-size: 18px;
    left: 15px; 
}

#box1 .feature, #box2 .feature {
    top: -15.5px;
  }

#box3 .feature {
    bottom: -35px;
  }

@media (max-width: 768px) {
    .img-container {
        height: 80vw;
    }

    .box {
        position: absolute;
        right: 0;
        top: 0;        
    }
    
    #box1 {
        height: 15%;
        width: 50%;
        top: 10%;
        right: 0;
    }
    #box2 {
        height: 229px;
        width: 62.5%;
        top: 20%;
        right: 0;
    }
    #box3 {
        height: 180px;
        width: 41.7%;
        top: 50%;
        right: 0;
    }
}

@media (max-width: 920px) {
    .container {
        width: 90vw;
        max-width: 100%;
        height: auto;
    }
    .box {
        position: absolute;
        right: 0;
        top: 0;        
    }
    
    #box1 {
        height: 23%;
        width: 50%;
        top: 10%;
        right: 0;
    }
    #box2 {
        height: 229px;
        width: 62.5%;
        top: 20%;
        right: 0;
    }
    #box3 {
        height: 180px;
        width: 41.7%;
        top: 50%;
        right: 0;
    }
}
  
  .chapter2 .info {
    display: flex;
    flex-direction: column; 
    justify-content:flex-start;
    align-items: start;
    width: 1116px;    
    height: 400px;  
    gap: 1em;
}

.chapter2 .info .awards {
    display: flex;
    justify-content: flex-start;
    font-size: 14px;    
}
.chapter2 .info .awards h2{
    font-size: 28px;
}
.chapter2 .info .awards h4,
.chapter2 .info .awards h5
{
    font-size: 1em;
}
    
.chapter2 .info .awards .category {
    width: 579px;
}
  
