@import "../src/assets/fonts/fonts.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gotham SSm", "Roboto", "Helvetica Neue", Arial, sans-serif;
}


  
html, body, embed .chapter1 {
  scroll-behavior: smooth;  
}

  html::-webkit-scrollbar {
        display: none;
  } 
  

.container {
  position: relative;
  width: 100%;
  /* ? 100% screen plus single line paragraph  */
  max-height: calc(max(100cqh) + 2rem);
  padding-top: 55px;
  background: url("https://digitalassets.tesla.com/tesla-contents/image/upload/h_1800,w_2880,c_fit,f_auto,q_auto:best/Model-3-Main-Hero-Desktop-LHD")
    no-repeat center center fixed;
  background-size: cover;
}

.commercial {
  height: 53px;
  width: 100vw;
  box-shadow: inset 25px 25px 50px 20px #020315;
  color: #fff;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  justify-content: space-evenly;
  align-items: center;
  white-space: nowrap;
}

.commercial img {
  width: 16px;
  height: 16px;
}

ol {
  list-style: none;
}

a,
a:link {
  text-decoration: none;
  color: #fff;
}

.commercial code {
  color: rgb(210, 6, 6);
}

/* HERO - NAVBAR */
.navbar {
  max-width: 100%;
  height: 56px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  line-height: 1.2;
  font-weight: bold;
}

.navbar .left {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  padding-left: 3em;
}

.navbar .logo {
  max-width: 120px;
}

.navbar .center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 2em;
}

.navbar .center ol {
  display: flex;
  gap: 2em;
}

.navbar .center ol li {
  white-space: nowrap;
}

.navbar .right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 2em;
}

.navbar .right ol {
  display: flex;
  gap: 2em;
}

.navbar .left .logo svg {
  width: 100%;
}

.left,
.left .logo {
  display: flex;
}

.left .logo {
  flex: 1;
}

/*  HERO -.showcase */
.showcase {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: flex-end;
  padding-bottom: 10vh;
}

.showcase-top {
  position: absolute;
  top: 155.56px;
  width: 100%;
  color: #fff;
}

.showcase .showcase-top h1 {
  display: flex;
  justify-content: center;
  font-size: 39px;
  height: 48px;
  font-weight: 400;
}

.showcase .showcase-top h3 {
  display: flex;
  justify-content: center;
  font-size: 14px;
  font-weight: 400;
  padding: 7px;
}

.showcase .showcase-top a {
  text-decoration: underline;
}

.showcase .showcase-bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 540px;
  padding: 0 24px;
  color: #fff;
}

.showcase .showcase-bottom ol {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 492px;
  margin-bottom: 16px;
  gap: 1em;
}

.showcase .showcase-bottom ol li:first-child {
  display: flex;
  justify-content: center;
  width: 130.3px;
  height: 50px;
}

.showcase .showcase-bottom ol .li-container {
  display: flex;
  flex-direction: column;
  justify-content: flex;
  align-items: center;
  margin-right: 10px;
  min-width: max-content;
  min-height: max-content;
}

.showcase .showcase-bottom .li-container .title-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.showcase .showcase-bottom .svg-container {
  display: flex;
  width: 30px;
  height: 30px;
}

.showcase .showcase-bottom .svg-container svg {
  margin-top: 10px;
}

.showcase-bottom .li-container .title-l,
.showcase-bottom .li-container .title-m {
  display: flex;
  justify-content: center;
  font-size: 24px;
  font-weight: 400;
  min-height: min-content;
}
.showcase-bottom .li-container .title-m {
  font-size: 20px;
}

.showcase-bottom .li-container .desc {
  font-size: 12px;
  font-weight: 400;
}

.showcase .showcase-bottom .buttons {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 492px;
  gap: 2em;
}

.showcase .showcase-bottom button {
  width: 235px;
  height: 40px;
  border-radius: 5px;
  font-weight: bold;
  padding: 5px 27px;
}

.showcase .showcase-bottom .btn-style2 {
  background: transparent;
  border: solid 3.5px #fff;
  color: #fff;
  font-size: 14px;
}

.showcase .showcase-bottom .btn-style2:hover {
  background: #fff;
  color: #000;
}

.showcase .showcase-bottom .btn-style2:active {
  background: transparent;
  color: #fff;
  font-size: 14px;
}

.showcase .showcase-bottom .btn-style1 {
  color: #000;
  font-size: 14px;
  border-radius: 5px;
  border: #00000000 1px solid;
}

.showcase .showcase-bottom .btn-style1:hover {
  background: #e2e3e3;
}

.showcase .showcase-bottom .btn-style1:active {
  outline: solid 2px #000;
  outline-offset: -5px;
}

.showcase-bottom .tax {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  color: #fff;
  font-size: 14px;
  white-space: nowrap;
  height: 20px;
}

/* ? ================= ? */
/* ? ================= ? */
/* ? ================= ? */

/* /... SMARTPHONE .../ */

@media only screen and (max-width: 760px) {
  

html, body {  
  scroll-behavior: smooth;
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  display: none;
  overflow-y: scroll;
} 


  .chapter1 .container {
    background-color: white;
    background-image: url("../src/assets/img/Model-3.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: calc(auto) 100%;
  }

  .showcase {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-end;
    height: calc(max(100vh) - 2px);
  }

  .showcase-bottom {
    width: 327px;
    height: 167px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex: 1;
  }

  .showcase .showcase-bottom ol {
    width: 327px;
    height: fit-content;
  }

  .showcase .showcase-bottom ol li {
    width: 130.3px;
    height: 35px;
  }

  .showcase .showcase-bottom .buttons {
    display: block;
  }

  .showcase .showcase-bottom button {
    display: block;
    margin: 10px auto 0px;
    width: 327px;
    height: 40px;
    border-radius: 5px;
    font-weight: bold;
  }

  .showcase-bottom .li-container .title-l,
  .showcase-bottom .li-container .title-m {
    font-size: 20px;
  }

  .showcase-bottom .li-container .title-m {
    font-size: 17px;
  }

  .showcase-bottom .li-container .desc {
    font-size: 10px;
    font-weight: 100;
  }
  .showcase-bottom .tax {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 521px;
    color: #fff;
    font-size: 12px;
  }
 
  .navbar .center ol {
    display: none;
  }

  .navbar .right ol li:not(:last-child) {
    display: none;
  }
}

@media screen and (max-height: 600px) {
  .showcase-bottom {
    visibility: hidden;
  }

  .showcase-top {
    position: absolute;
    top: 120px;
    width: 100%;
    color: #fff;
  }
}

/* /... TABLET .../ */

@media screen and (min-width: 761px) and (max-width: 1200px) {


  html, body {  
    scroll-behavior: smooth;
    overflow-y: scroll;
  }
  
  body::-webkit-scrollbar {
    display: none;
    overflow-y: scroll;
  } 

  .chapter-1 {
    height: calc(max(100vh) + 5vh);
  }

  .chapter1 .container {
    background-image: url("../src/assets/img/Model-3.png") no-repeat center
      center fixed;
    background-position: cover;
    height: calc(max(100vh) + 10vh);
  }

  .navbar .center ol {
    display: none;
  }

  .navbar .right ol li:not(:last-child) {
    display: none;
  }

  .showcase-bottom .tax {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 521px;
    height: 45px;
  }
}
